<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Bex Bolton</title>

  <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  
</head>
<body>

  <div class="jumbotron">

  <h1>Hi! I'm Becky Bolton, I'm a Web Developer, and I'm looking for new opportunities. Welcome to my portfolio site.</h1>

  <br />

  <h2>Sadly, there's nothing here at the moment. But please check back soon!</h2>

  <br />

  <span>-- Becky 'Bex' Bolton</span>

    <div class="icons">

      <a href="https://github.com/BexB1" aria-hidden="true"><i class="fa fa-github-square fa-2x"></i></a>

      <a href="https://uk.linkedin.com/in/becky-bolton-859618114" aria-hidden="true"><i class="fa fa-linkedin-square fa-2x"></i></a>

      <a href="mailto:bexbolton.webdev@gmail.com" aria-hidden="true"><i class="fa fa-envelope-o fa-2x"></i></a>

    </div>

  </div>

</body>
</html>