body {
  font-family: 'Oswald', sans-serif;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jumbotron {
  position: absolute;
  max-width: 960px;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  line-height: 60px;
  font-size: 35px;
  letter-spacing: 3px;
}

.icons {
  position: absolute;
  width: 100%;
  clear: both;
  bottom: -100px;
/*  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);*/
}

h1 {
  font-size: 45px;
  letter-spacing: 4px;
}

h2 {
  margin: 0;
  line-height: 35px;
}

span {
  margin-top: -10px;
  line-height: 20px;
  font-size: 30px;
  float: right;
  color: #737373;
}

i:hover {
  color: #c9c9c9;
}