<div class="home">

  <img src="../pics/MG0259square.jpg" height="175px" title="Here's looking at you, kid." />

<div class="blurb">
  <p>
  I'm a Junior Full Stack Web Developer freshly graduated from the Web Development Immersive at General Assembly, and I'm looking for my first opportunity in the world of web dev.
  </p>

  <p>
  I love to learn and I love to create, and I'm usually found doing one of the two, or both. 
  </p>

  <p>
  I'm hoping to put what I've learned in to making awesome things with awesome people.
  </p>

  Thanks for stopping by!

  </div>
</div>