<div class="projects-box">

  <div class="project" *ngFor='let project of projects'>

    <a href="{{ project.url }}" target='_blank'>

      <div class="project-pic">
        <div class="shader">
          <img src="{{ project.pic }}">
        </div>
      </div>

      <div class="project-name">
        <strong>{{ project.name }}</strong>
      </div>

      <div class="project-blurb">
        {{ project.blurb }}
      </div>
        
      <div class="tech">
        {{ project.tech }}
      </div>

    </a>

  </div>

</div>
