<h3>Front End</h3>

<br />

<div class="skills" *ngFor='let skill of skills'>

  <img src="{{ skill.pic }}" height="50px" alt="{{ skill.name }}" title="{{ skill.name }}" />
</div>

<br />

<h3>Back End</h3>

<br />

<div class="skills" *ngFor='let beSkill of beSkills'>

  <img src="{{ beSkill.pic }}" height="50px" alt="{{ beSkill.name }}" title="{{ beSkill.name }}" />
</div>

<br />

<h3>Other</h3>

<br />

<div class="skills" *ngFor='let otherSkill of otherSkills'>

  <img src="{{ otherSkill.pic }}" height="50px" alt="{{ otherSkill.name }}" title="{{ otherSkill.name }}" />
</div>